{% extends 'movies.html' %}
  {% block body %}
    <h1>Movies Database</h1>
    <p>Add a movie!</p>
    <div>
      <form method="POST" action="add">
        <label for="name">Movie Name:</label><input type="text" id="name" name="name"><br>
        <label for="year">Movie Year:</label><input type="text" id="year" name="year"><br>
        <label for="director">Movie Director:</label><input type="text" id="director" name="director"><br>
        <button type="submit">Add movie!</button>
      </form>
    </div>
    <a href="home">Return to Home</a>
{% endblock %}
