{% extends 'movies.html' %}
{% block body %}
  <main class="moviemain">
    <h2>Add a new movie</h2>
    <form class="addmovie" method="POST" action="/add" enctype="multipart/form-data">
      <label for="name">Movie Name: </label>
      <input type="text" name="name" id="name" maxlength="50">
      <label for="year">Year: </label>
      <input type="date" name="year" id="year">
      <label for="director">Director: </label>
      <input type="text" name="director" id="director">
      <label for="distributor">Distruibutor: </label>
      <input type="text" name="distributor" id="distributor">
      <label for="image">Movie Picture: </label>
      <input type="file" name="image" id="image">
      <input type="reset">
      <button type="submit">Add Movie!</button>
    </form>
    {% if show_message %}
      <p>{{message}}</p>
    {% endif %}
  </main>
{% endblock %}
