{% extends 'movies.html' %}
{% block body %}
  {% if show_message %}
    <p>There are no movies in the database.</p>
  {% elif show_message == False %}
    <div class="moviecontainer">
      {% for movie in movies %}
      <div class="moviebox">
        <h4>{{movie.moviename}}</h4>
        {% if movie.image != None %}
          <img src="{{url_for('static', filename=movie.image)}}" width="250px">
        {% elif movie.image == None %}
          <p>No image avaliable.</p>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
