<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="shorcut icon" href="/static/movie.png"/>
    <title>Movies Database</title>
  </head>
  <body class="mainbackground">
    <main class="maincontainer">
      <h1>A moviedatabase where you can find any movie you want.</h1>
      <div class="columndiv">
        <form class="login" action="/home" id="log">
          <label for="user">Username</label>
          <input type="text" id="user"></input>
          <label for="pass">Password</label>
          <input type="password" id="pass"></input>
        </form>
        <button class="regbutton" type="submit" form="log">Register</button>
        <button class="accbutton" type="subit" form="log">Log in</button>
      </div>
    </main>
  </body>
</html>
