<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link rel="shorcut icon" href="/static/movie.png"/>
    <title>Movies Database</title>
  </head>
  <body class="moviebody">
    <header>
      <div class="navbar">
        <ul>
          <li><a href="/home"><img src="/static/movie.png" href="/home"></a></li>
          <li><a href="/home" class="nav-item">Home</a></li>
          <li><a href="/show" class="nav-item">Movie Details</a></li>
          <li><a href="/add" class="nav-item">Add Movie</a></li>
        </ul>
      </div>
    </header>
    {% block body %}
    {% endblock %}
  </body>
</html>
