{% extends 'movies.html' %}
{% block body %}
  <main class="moviemain">
    <h2>Movie details</h2>
    {% if show_message %}
      <p>{{movies}}</p>
    {% elif show_message == False %}
      <div class="showmovies">
        <table border=2>
          <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Director</th>
            <th>Distributor</th>
            <th>Delete Movie</th>
          </tr>
          {% for movie in movies %}
            <tr>
              <td><a href="/modify/{{movie.id}}">{{movie.moviename}}</a></td>
              <td><a href="/modify/{{movie.id}}">{{movie.year}}</a></td>
              <td><a href="/modify/{{movie.id}}">{{movie.director}}</a></td>
              <td></td>
              <td><a class="button" href="/delete/{{movie.id}}">Delete</a></td>
            </tr>
          {% endfor %}
        </table>
      </div>
    {% endif %}
    <a href="/home">Return to Home.</a>
  </main>
{% endblock %}
